<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Paystation>
            <version>0.1</version>
        </Mage_Paystation>
    </modules>
    <global>
        <models>
           <paystation>
              <class>Mage_Paystation_Model</class>
              <resourceModel>paystation_mysql4</resourceModel>
           </paystation>
           <paystation_mysql4>
              <class>Mage_Paystation_Model_Mysql4</class>
              <entities>
                  <paystation_debug><table>paystation_debug</table></paystation_debug>
              </entities>
           </paystation_mysql4>
        </models>
        <resources>
            <paystation_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paystation_setup>
            <paystation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paystation_write>
            <paystation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paystation_read>
        </resources>
        <blocks>
            <paystation><class>Mage_Paystation_Block</class></paystation>
        </blocks>
		 <rewrite>
		
			<Mage_Paystation_checkout_multishipping_overview>
                <from><![CDATA[#^/checkout/multishipping/overview/#]]></from>

                <to>/paystation/checkout_multishipping/overview/</to>
            </Mage_Paystation_checkout_multishipping_overview>
			<Mage_Paystation_checkout_multishipping_overviewPost>
                <from><![CDATA[#^/checkout/multishipping/overviewPost/#]]></from>

                <to>/paystation/checkout_multishipping/overviewPost/</to>
            </Mage_Paystation_checkout_multishipping_overviewPost>
			<Mage_Paystation_checkout_multishipping_success>
                <from><![CDATA[#^/checkout/multishipping/success/#]]></from>
                <to>/paystation/checkout_multishipping/success/</to>
            </Mage_Paystation_checkout_multishipping_success>				
        </rewrite> 
    </global>
    <frontend>
        <secure_url>
            <paystation_standard>/paystation/standard</paystation_standard>
        </secure_url>
        <routers>
            <paystation>
                <use>standard</use>
                <args>
                    <module>Mage_Paystation</module>
                    <frontName>paystation</frontName>
                </args>
            </paystation>
        </routers>
    </frontend>
    <default>
        <payment>
            <paystation_standard>
                  <model>paystation/standard</model>
                  <title>Paystation Payment Gateway</title>
                  <testmode>1</testmode>
                  <postback>1</postback>
                  <allowspecific>0</allowspecific>
                  <order_status>pending_paystation</order_status>
				  <cctypes>visa,mastercard</cctypes>
            </paystation_standard>
        </payment>
    </default>
</config>